<div class="container pt-3">

<div class="d-flex justify-content-between">
  <div><h1 class="pt-2">All Cocktails</h1></div>
  <div><%= link_to "Mix a new cocktail", new_cocktail_path, class: "btn btn-primary mt-3" %></div>
</div>

<div class="row">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached?  %>

    <%= cl_image_tag cocktail.photo.key, width: 400, height: 300, crop: :fill %>
      <% else %>
        <%= cl_image_tag 'vxvwkbxsczv5tvd2rol8', width: 400, height: 300, crop: :fill %>
      <% end %>
    <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-primary" %>

  <% end %>
</div>


</div>
